*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TUTTE LE ALTEZZE SONO PROVVISORIE/DA RIMUOVERE */

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container-page{
  width: 80%;
  margin: 0 auto;
}

.text-style{
  color: #AEAEAE;
}


/* logo_website */
body .vl{
  content: "";
  border-left: 2px solid #AEAEAE;
  height: 65px;
  display: inline-block;
}

#logo{
  width: 150px;
  margin-right: 20px;
}

/* HEADER */
.head{
  height: 70px;
  margin: 30px 0px;
}

.head-text{
  width: 60%;
  padding-top: 20em;
  padding-left: 2em;
  text-align: left;
  color: black;
}

.head-text h2{
  font-size: 30px;
}

/* navigation */
div nav ul li{
  list-style-type: none;
  float: left;
  padding-right: 20px;
  margin-top: 20px;
}

div nav ul li a{
  text-decoration: none;
  color: #AEAEAE;
}

div nav ul li a:hover{
  color: orange;
}

/* jumbo */
.jumbotron{
  min-height: 500px;
  margin-bottom: 30px;
  background-image:url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

/* MAIN */
main{
  min-height: 600px;
}

aside, section{
  float: left;
}

.top-sec{
  height: 70px;
  margin-bottom: 20px;
}

main .top-sec h2{
  display: inline-block;
  font-size: 40px;
  font-weight: bolder;
}

.bot-sec{
  margin-bottom: 10px;
}

.bot-sec h3{
  padding: 30px 0;
}

aside{
  min-height: 500px;
  width: 20%;
  margin-bottom: 20px;
}

.sideimg{
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img1{
  background-image: url(../img/img-1.jpg);
}

.img2{
  background-image: url(../img/img-3.jpg);
}

section{
  min-height: 500px;
  width: 56%;
  margin: 0 2%;
}

.bannerimg{
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bnr1{
  background-image: url(../img/banner-2.jpg);
}

/* FOOTER */
.footer-content{
  height: 70px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  padding: 20px;
}

.footer-content::after{
  content: "\2665";
  color: red;
}

